* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    background: url("https://media.tenor.com/f0cKyHniahEAAAAC/background-khaoticfuture.gif");
    background-size: cover;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #00000060;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
}

.heading {
    font-size: 30px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border-right: .15em solid orange;
    border-bottom: .15em solid orange;
    letter-spacing: .15em;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.box {
    border-radius: 6px;
    height: fit-content;
    width: 400px;
    border: 2px solid white;
}

.final {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    font-size: 30px;
    padding: 10px;
    background-color: #212121;
}

#copy {
    padding: 10px;
    background-color: orange;
    border-radius: 60px;
}

#copy:hover {
    box-shadow: -2px -2px 4px#fff;
    color: black;
    background-color: orange;
    cursor: pointer;
}

#copy:active {
    background-color: orangered;
}

.row {
    margin: 10px;
    line-height: 1.5;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 6px;
}

.row:nth-child(odd) {
    background-color: #a2a2a2;
}

.row:nth-child(even) {
    background-color: #fff;
}

input[type=number] {
    color: blue;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    outline: 2px solid orange;
    border-radius: 6px;
}

input[type=number]:active {
    outline: 2px solid orangered;
}

.box p {
    font-size: 2rcap;
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    margin-bottom: 10px;
    border: none;
    background: orange;
    padding: 10px;
    border-radius: 6px;
    font-weight: bolder;
}

.btn button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.btn button:active {
    background: orangered;
    transform: scale(1.01, 1.01);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #2db500;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 30px;
}


#snackbar.show {
    visibility: visible;

    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}


@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}
.footer{
    letter-spacing: 4px;
    color: white;
    text-align: center;
}