* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif)
}

header {
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(yellow, lightgreen);
    border-radius: 6px;
}

header:hover {
    letter-spacing: 2px;
}

.box {
    height: 30vh;
    margin: 50px;
    background-color: burlywood;
    text-align: center;
    border-radius: 6px;
    vertical-align: middle;
    border: 2px solid white;
}

.box:hover {
    box-shadow: 10px 10px 10px burlywood;
}

.box p {
    color: white;
    background-color: black;
    font-size: 40px;
    font-family: serif;
    letter-spacing: 5px;
    border-radius: 6px;
    border-bottom: 2px solid white;
}

.day {
    font-size: 50px;
    font-weight: bolder;
    font-family: system-ui, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}